/***************************************\

BLOCK MEDIA QUERIS

\****************************************/


@media all and (max-height: 500px) {
    .social-icons {
        display: none;
    }
}


@media screen and (max-width: 1440px) {
    .modal {
        width: 100%;
    } 
}

@media screen and (max-width: 1465px) {
    ul[data-liffect="zoomOut"] li {
       width: 300px;
   }
}


@media screen and (max-width: 1306px) {      
     ul[data-liffect="zoomOut"] li {
       width: 280px;
   }   
}

@media screen and (max-width: 1242px) {  
    ul[data-liffect="zoomOut"] li {
       width: 240px;
   } 
}

@media screen and (max-width: 1140px) {
    .container {       
        flex-direction: column;
    }  
  
    .menu, .content {
        width: 100%;
    }
    
    .menu {
        height: 50px;
        position: static;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .modal {
        width: 100%;
    }
    
    .modal-overlay {
        background: white;        
    }
    
    .modal-show .modal-overlay {
        opacity: 1;
    }
    
    .modal-content .form-close {
        color: $brown;
        left: 80%;
    }
    
    nav {
        margin-top: 0;
    }
    
    nav ul {
        display: flex;
    }
    
    .content {
        border-right: none;
        margin-left: 0;
    }
    
    h1 {
        font-size: 11em;
        margin-top: 0;
    }
    
    .social-icons {
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 20px 0;
        & a {
            margin-right: 20px;
        }
    }
    
    nav {
        position: absolute;
        top: 0;
        left: 20px;
    }
    
    nav ul {
        margin: 0;
    }
    
    nav li {
        margin-right: 20px;
    }
    
    .basket {
        margin: 0;
        align-self: flex-start;
        margin-top: 7px;        
    }
    
    .basket-counter {
        margin-left: 20px;
        padding: 5px 40px;       
    }
    
    address, .subcribe {
        display: none;
    }
    .checkout {
        display: none;
    }
    
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 8em;
    }
    nav  {
        display: none;
        left: 50%;
        top: 50%;
        transform: translate(-50px, -50px);
        z-index: 5;       
     }
    
    nav li a {
        color: $brown;
    }
    
    nav ul {
        flex-direction: column;    
    }
    
    .fa.fa-navicon {
        display: block;
        cursor: pointer;        
    } 
    

}



@media screen and (max-height: 900px) {
    blockquote {
        bottom: -100px;
    }  

}

@media screen and (max-width: 700px) {
   ul[data-liffect="zoomOut"] li {
       width: 250px;
   } 

}

@media screen and (max-width: 423px) {
    h1.logo-in-gallery {
        font-size: 6rem;
        padding-top: 30px;
    }
    
     ul[data-liffect="zoomOut"] li {
       width: 150px;
   } 
}