/***************************************\

BLOCK MEDIA QUERIS

\****************************************/




@media screen and (max-width: 1440px) {
    .modal {
        width: 100%;
    } 
}

@media screen and (max-width: 1465px) {
    ul[data-liffect="zoomOut"] li {
       width: 300px;
   }
}


@media screen and (max-width: 1306px) {      
     ul[data-liffect="zoomOut"] li {
       width: 280px;
   }   
}

@media screen and (max-width: 1242px) {  
    ul[data-liffect="zoomOut"] li {
       width: 400px;
   } 
}

@media screen and (max-width: 1174px) {  
    ul[data-liffect="zoomOut"] li {
       width: 380px;
   } 
}

@media screen and (max-width: 1140px) {
    .container {       
        flex-direction: column;
    }  
  
    .menu, .content {
        width: 100%;
    }
    
    .menu {
        height: 50px;
        position: static;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .modal {
        width: 100%;
    }
    
    .modal-overlay {
        background: white;        
    }
    
    .modal-show .modal-overlay {
        opacity: 1;
    }
    
    .modal-content .form-close {
        color: $brown;
        left: 80%;
    }
    
    nav {
        margin-top: 0;
    }
    
    nav ul {
        display: flex;
    }
    
    .content {
        border-right: none;
        margin-left: 0;
    }
    
    h1 {
        font-size: 11em;
        margin-top: 0;
    }
    
    .social-icons {
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 20px 0;
        & a {
            margin-right: 20px;
        }
    }
    
    nav {
        position: absolute;
        top: 0;
        left: 20px;
    }
    
    nav ul {
        margin: 0;
    }
    
    nav li {
        margin-right: 20px;
    }
    
    .basket {
        margin: 0;
        align-self: flex-start;
        margin-top: 7px;        
    }
    
    .basket-counter {
        margin-left: 20px;
        padding: 5px 40px;       
    }
    
    address, .subcribe, .social-icons {
        display: none;
    }
    .checkout {
        display: none;
    }
    
      ul[data-liffect="zoomOut"] li {
       width: 320px;
   }     
    
}



@media screen and (max-width: 1150px) {
    ul[data-liffect="zoomOut"] li {
       width: 300px;
   }     
}


@media screen and (max-width: 1000px) {
    ul[data-liffect="zoomOut"] li {
       width: 280px;
   }     
}

@media screen and (max-width: 950px) {
    ul[data-liffect="zoomOut"] li {
       width: 260px;
   }     
}

@media screen and (max-width: 880px) {
    ul[data-liffect="zoomOut"] li {
       width: 240px;
   }     
}


@media screen and (max-width: 800px) {
    ul[data-liffect="zoomOut"] li {
       width: 225px;
   }     
}

@media screen and (max-width: 750px) {
    ul[data-liffect="zoomOut"] li {
       width: 210px;
   }     
}



@media screen and (max-width: 767px) {
    h1 {
        font-size: 8em;
    }
    nav  {
        display: none;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;       
     }
    
    nav li a {
        color: $beige !important;
    }
    
    nav ul {
        flex-direction: column;    
    }
    
    .fa.fa-navicon {
        display: block;
        cursor: pointer;        
    }   
}

@media screen and (min-width: 767px) {
    nav {
    display: block !important;
    }
}



@media screen and (max-height: 900px) {
    blockquote {
        bottom: -100px;
    }  

}

@media screen and (max-width: 700px) {
   ul[data-liffect="zoomOut"] li {
       width: 300px;
   } 

}

@media screen and (max-width: 650px) {
   ul[data-liffect="zoomOut"] li {
       width: 180px;
   } 

}

@media screen and (max-width: 600px) {
   ul[data-liffect="zoomOut"] li {
       width: 180px;
       margin: 5vw;
   } 

}

@media screen and (max-width: 480px) {
   ul[data-liffect="zoomOut"] li {
       width: 160px;
       margin: 5vw;
   }   
   

}

@media screen and (max-width: 390px) {
   ul[data-liffect="zoomOut"] li {
       width: 130px;
       margin: 5vw;
   } 

}

@media screen and (max-width: 330px) {
   ul[data-liffect="zoomOut"] li {
       width: 100px;
       margin: 5vw;
   } 

}



@media all and (max-height: 500px) {
    .social-icons {
        display: none;
    }
}



@media screen and (max-width: 423px) {
    h1.logo-in-gallery, h1 {
        font-size: 7rem;
        padding-top: 30px;
    } 
    
     ul[data-liffect="zoomOut"]  {
       margin-top: 15px;
   } 
    
}





