extends layout/layout
block content   
    div.container
        include menu 
        section.content
            include form
            a(href='')
                h1.logo-in-gallery GHappy art
            h2 О нас
            
            section.we
                figure 
                   img(src='/images/me.jpg')
                   figcaption
                       Дмитрий Валуев
                   section                       
                        p Front-end developer
                        p Developer
                        p Huge dick
                div 
                   img(src='/images/you.jpg')
                   figcaption
                       Милана Валуева
                      
             
                       
                       
                       
                       
                       
                       
                       
                       
                       
                  
      
