block form    
       #basket.modal(data-modal-effect='fadescale')
                  .modal-content
                    h2 Корзина
                    section.basket-list                        
                        table                           
                            tr                                
                                th Наименование
                                th Количество
                                th Цена
                                th Сумма
                                   
                            tr
                                td  
                                   img(src='/images/item3.jpg', width='100')
                                   p Топиарии   
                                td 
                                   span 2    
                                td 
                                    span 1500
                                td 
                                    span 1500                                    
                            tr
                                td(colspan='4', class='total') 
                                   span Итого
                                       em 1500
                                       i.fa.fa-rub
                                
                               
   
                    section
                        i.icon.ion-close.form-close.modal-close
                   

      
