extends layout/layout
block content   
    div.container
        include menu 
        section.content
            include form
            a(href='')
                h1.logo-in-gallery GHappy art
            ul(data-liffect='zoomOut')               
                li
                    a(href='/album-topi.html')
                       img(src='/images/item2.jpg')
                       figcaption
                           h2 Топиарии
                           p просто какой-то текст
                           div.icons
                               i.fa.fa-eye
                               i.fa.fa-heart-o                          
                li
                       
                       img(src='/images/item2.jpg')
                       figcaption
                               h2 Оформление подарков
                               p just some text
                               div.icons
                                   i.fa.fa-eye
                                   i.fa.fa-heart-o
                li
                       img(src='/images/item3.jpg')
                       figcaption
                           h2 Топиарии
                           p just some text
                           div.icons
                               i.fa.fa-eye
                               i.fa.fa-heart-o
                li
                       img(src='/images/item4.jpg')
                       figcaption
                           h2 Топиарии
                           p just some text
                           div.icons
                               i.fa.fa-eye
                               i.fa.fa-heart-o
                li
                       img(src='/images/item2.jpg')
                li
                       img(src='/images/item1.jpg')
                li
                       img(src='/images/item3.jpg')
                li
                       img(src='/images/item4.jpg')     
                       
                li
                       img(src='/images/item2.jpg')
                li
                       img(src='/images/item1.jpg')
                li
                       img(src='/images/item3.jpg')
                li
                       img(src='/images/item4.jpg')  
                li
                       img(src='/images/item2.jpg')
                li
                       img(src='/images/item1.jpg')
                li
                       img(src='/images/item3.jpg')
                li
                       img(src='/images/item4.jpg')        
                       
                           
                       
                       
                       
                       
                       
                       
                       
                       
                  
      
