extends layout/layout
block content   
    div.container.animsition
        div.loader 
             loader
        div.qaz
            i.icon.ion-close.m-close-menu
        include menu
        section.content
            video(autoplay='autoplay', loop='loop', poster='' id='my-video')
                source(src='/images/cloud.mp4', type='video/mp4')
            a(href='')
                h1(data-scroll-reveal='data-scroll-reveal="enter from the bottom after 1s') GHappy art
              
            blockquote 
                    p for ordinary people with extraordinary dreams                    
            include form
                

      
